<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <title>No Man Sky Craft</title>
        <!-- bower:css -->
        <!-- endbower -->

        <!-- inject:css -->
        <!-- endinject -->

        <!-- bower:js -->
        <!-- endbower -->
    </head>
    <body>
        <div id='react-content'></div>
        <!-- inject:js -->
        <!-- endinject -->
    </body>
</html>
