#content {
    font-family: 'Raleway', sans-serif;
    display: flex;
    flex-direction: column;
}
body {
    padding-bottom: 50px;
}

#items {
    width: 70%;
    margin-right: auto;
    margin-left: auto;
}

img {
    height: 50px;
    width: 50px;
}

#inventory {
    margin: auto;
    position:relative;
    width: 70%;
    min-height: 200px;
}
#inventory table {
    margin-bottom: 50px;
}

#inventoryinput {
    position: absolute;
    bottom: 0px;
}
#totalwrapper {
    position: absolute;
    right: 10px;
    bottom: 25px;
}

#canmake {
    float: left;
    margin: auto;
    width: 70%;
    min-height: 200px;
}

table {
  border-collapse: collapse;
  width: 100%;
}
th, td {
  padding: 0.25rem;
  text-align: left;
  border: 1px solid #ccc;
}

h1, h2, h3, h4 {
    text-align: center;
}
.remove {
    color: red;
}
.noborder {
    text-align: right;
    /* border: 0; */
    width: 10px;
}

a:visited{
  color:blue;
}
.breakline {
 display: block;
 }
 .itemcolumn {
     width: 30%
 }
